.navContainer{
   
    display: block;  
}
.navAlign{
    background-color: white;
    padding: 0px 0px 0px 24px;
}
.firstNav{
    display: inline-block;
}
.secondNav{
    float: right;
    margin-right: 10px
}
.rightNavList{
    display: inline-block;
    margin-right: 10px;
}
.bellIcon{
    color: cornflowerblue;
    cursor: pointer;
}